<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <img id="thimage" src="{{ image }}">
    <img id="pcimage" src="{{ image_pc }}">
    <form action='/', method='POST'>
        <label for='start'>start</label>
        <input type="datetime-local" id='start' name='start'></br>
        <label for='finish'>finish</label>
        <input type="datetime-local" id='finish' name='finish'></br>
        <input type="submit">
    </form>
    

    <script>
        var newImage = new Image();
        newImage.src = "{{ image }}";

        function updateImage()
        {
            if(!parseInt("{{ dynamicrefresh }}")){
                return
            }
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "render_image", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            let curr_time = new Date().getTime();
            xhr.send(JSON.stringify({
                start: (curr_time/1000) - (60*60*2),
                finish: (curr_time/1000),
            }));

            newImage = new Image();
            newImage.src = "{{ image }}?time=" + new Date().getTime();
            document.getElementById("thimage").src = newImage.src;
            newImagePC = new Image();
            newImagePC.src = "{{ image_pc }}?time=" + new Date().getTime();
            document.getElementById("pcimage").src = newImagePC.src;
        }
        setInterval(updateImage, 30000)

    </script>

</body>
</html>